* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('trrr.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    font-family: Playfair Display;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: rgb(255, 255, 255);
}

.hotel__img:hover {
cursor: pointer;
}

.nav {
    height: 100px;
    padding: 8px 25px 40px 25px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #dfdfdf;
    z-index: 100;
    background-color: #fff;
}

.hotel__img:hover {
    cursor: pointer;
}

.back:hover {
cursor: pointer;
}

.navList {
    display: flex;
    justify-content: space-between;
    width: 303px;
    height: 52px;
    font-weight: 400;
    font-size: 10px;
    line-height: 200%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #757575;
}

.navImages {
    height: 32px;
}

.navLinks a {
    display: block;
    text-decoration: none;
    color: #757575;
}

.to-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    padding: 24px 0;
}

.to-back__fa {
    width: 32px;
    font-size: 25px;
}

.to-back__h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #F0F0F0;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20px;
}

.search {
    position: relative;
    margin-bottom: 23px;
}

.search__input {
    width: 100%;
    padding: 10px 46px;
    border-radius: 10px;
    border: 1px solid #000000;
    font-size: 14px;
    color: #7E7E7E;
    font-family: Playfair Display;
}

.search__fa {
    position: absolute;
    top: 7.5px;
    left: 10px;
    font-size: 25px;
}

.recommend {
    width: 133px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}

.recommend__txt {
    font-size: 13.5px;
}

.recommend__fa {
    font-size: 13px;
}

.block {
    max-width: 342px;
    margin-bottom: 20px;
}

.hotels__block {
    padding-bottom: 110px;
}

.hotels__block :last-child {
    margin-bottom: 0px;
}

.hotel {
    position: relative;
    margin-bottom: 12px;
}

.hotel__img {
    width: 342px;
    height: 174px;
    border-radius: 10px;
}

.fav {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: space-between;
}

.fav .fav__fa {
    position: absolute;
    right: -200px;
    color: white;
}

.fav__stars {
    color: #FFF500;
}

.info {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 13px;
    font-weight: 400;
}

.more-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.more-info__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.more-info__txt {
    font-size: 13px;
    font-weight: 400;
}

.price {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.price__for-two {
    font-size: 14px;
    font-weight: 700;
}

.price__txt {
    color: #717171;
    font-size: 14px;
    font-weight: 400;
}